:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  --background: hsl(206, 67%, 95%);
  --background-block: hsl(220, 100%, 99%);
  --color: hsl(226, 25%, 17%);
  --bg-button: hsl(220, 100%, 99%);
  --bg-toggle: hsl(240, 2%, 78%);
  --bg-theme: hsl(250, 20%, 94%);
}
body.dark-theme {
  --background: hsl(227, 74%, 7%);
  --background-block: hsl(224, 26%, 16%);
  --color: hsl(200, 60%, 99%);
  --bg-button: hsl(227, 23%, 24%);
  --bg-toggle: hsl(224, 12%, 36%);
  --bg-theme: hsl(227, 23%, 24%);
}

@font-face {
  font-family: "Nota Sans";
  src: local("Nota Sans"), url(../assets/fonts/static/NotoSans-Regular.ttf);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 90rem;
  width: 100%;
  min-height: 72.25rem;
  margin: 0;
  padding: 0;
  font-family: "Nota Sans";
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--background);
  color: var(--color);
}

img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h4,
p {
  margin: 0;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.extensions {
  padding-block: 40px 65px;
  padding-inline: 10px;
  max-width: 74.375rem;
  margin: 0 auto;
}
.extensions__header {
  background: var(--background-block);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  margin-block-end: 75px;
  box-shadow: 0 0.2rem 5rem var(--background);
}
.extensions__logo:focus {
  outline: 2px solid var(--red-700);
}
.extensions__logo svg path:nth-child(2) {
  fill: var(--color);
}
.extensions__header button {
  width: 3.125rem;
  height: 3.125rem;
  background: var(--bg-theme);
  border-radius: 8px;
  transition: background 350ms ease;
  &:hover {
    background: var(--bg-toggle);
  }
  &:focus {
    outline: 2px solid var(--red-700);
  }
}
.btn-sun {
  display: none;
}
.btn-moon.active {
  display: block;
}
.btn-sun.active {
  display: block;
}
.btn-moon {
  display: none;
}
.extensions__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 45px;
}
h2 {
  font-size: 1.875rem;
  font-weight: 700;
}
.extensions__buttons {
  display: flex;
  align-items: center;
  column-gap: 13px;
}
.extensions__buttons button {
  border: 1px solid var(--bg-toggle);
  background: var(--bg-button);
  color: var(--color);
  width: 75px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: background 350ms ease;
  &:hover {
    background: var(--bg-toggle);
    border: none;
  }
  &:focus {
    outline: 2px solid var(--red-700);
  }
}
.extensions__buttons button:nth-child(2) {
  width: 5.9375rem;
}
.extensions__buttons button:nth-child(3) {
  width: 6.875rem;
}
.extensions__buttons .active {
  color: var(--background-block);
  background: var(--red-400);
  transition: background 350ms ease, font-weight 450ms ease-in;
  &:hover {
    background: var(--red-700);
    font-weight: 700;
  }
}
.extensions__grid {
  background: var(--background);
}
.extensions__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 378px));
  gap: 15px;
}
.extensions__item {
  background: var(--background-block);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 30px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  /* для одинаковой высоты блоков */
  height: 100%;
}
.extensions__item-up {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-block-end: 45px;
}
h4 {
  margin-block-end: 15px;
}
p {
  margin-block: 0;
}
.extensions__item-down {
  margin-top: auto; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
.remove-btn {
  border: 1px solid var(--neutral-300);
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  border-radius: 20px;
  transition: background 350ms ease, color 350ms ease, border 400ms ease-in;
  &:hover {
    background: var(--red-400);
    color: var(--background-block);
    border: none;
  }
  &:focus {
    outline: 2px solid var(--red-700);
  }
}
.switch {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 20px;
}
label:focus {
  outline: 2px solid var(--red-700);
  border-radius: 20px;
}
label:focus-visible {
  outline: 4px double var(--red-700);
  border-radius: 20px;
}
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}
.move {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bg-toggle);
  border-radius: 3rem;
  border: 0.1rem solid #ddd;
  cursor: pointer;
}
.move::before {
  position: absolute;
  background: var(--neutral-0);
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 15px;
  top: 1px;
  left: 4px;
  bottom: 4px;
  left: 0.12rem;
  box-shadow: 0 0.2rem 5rem var(--background);
  transition: 0.5s;
}
input:checked + .move {
  background: var(--red-400);
  border: 0.1rem solid transparent;
}

input:checked + .move::before {
  transform: translateX(calc(35px - 20px));
  background: #ffffff;
}
@media (max-width: 768px) {
  .extensions {
    padding-block-start: 20px;
  }
  .extensions__header {
    margin-block-end: 45px;
  }
  .extensions__title {
    flex-direction: column;
    row-gap: 30px;
    margin-block-end: 30px;
  }
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  font-style: italic;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
